@font-face {
    font-family: runes;
    src: url("assets/RuneSlasher-axxVJ.otf") format("opentype");
}

#frame {
    font-family: runes;
    font-size: 1.4em;
    position: fixed !important;
    top: 0;
    height: 100vh;
    width: 100vw;
    padding-top: 200px;
    padding-left: 150px
}

#frame h1 {
    text-align: left;
}
